::view-transition-group(root) {
    animation: .5s ease-in both transformPage;
    transform-origin: 50% 50%;
}

@keyframes transformPage {
    10% {
        scale: .75;
    }
    100% {
        scale: 1;
    }
  }


body {
    background-color: var(--bg);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:var(--primary)
}

h1 {
    color: var(--highlight)
}

a {
    color:var(--secondary)
}

footer {
    font-size: .75rem;
}